<header class='navbar navbar-default navbar-fixed-top'>
  <nav class="container" role='navigation'>
    <div class='navbar-header'>
      <a href='index.html'><%=image_tag('affcicon.png', :class => 'navbar-brand')%></a>
      <p class="navbar-brand"><a href='index.html'>My AFFC</a></p>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <li><%= link_to 'Home', '/index.html' %> </li>
      <li><%= link_to 'About', '/about.html' %> </li>
      <li><%= link_to 'Events', '/events.html' %> </li>
      <li><%= link_to 'Podcast', '/podcast.html' %> </li>
      <li><%= link_to 'Giving', '/giving.html' %> </li>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a> </li>
      <li><a href="#"><i class="fa fa-facebook-square"></i></a> </li>
    </ul>
  </nav>
</header>
